DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# META APP CREDENTIALS                                     
META_APP_ID=your_app_id_here                               
META_APP_SECRET=your_app_secret_here                       
META_WEBHOOK_VERIFY_TOKEN=your_custome_key
                                                               
# SECURITY                                                 
ENCRYPTION_KEY=you_will_get_this_on_command_